@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;


}

.slide {
  background-color: #fedb01;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: 2rem;
  scroll-snap-align: center;
  /* letter-spacing: 0.8ch; */
  padding-inline: 10rem;
}

.Line {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 75%;
  border-bottom: 2px ridge #252525;
}

.dog {
  height: 50px;
  position: relative;
  left: 0;
}
.message{
  display: flex;
  flex-direction: row;
}
.container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

@media only screen and (max-width: 600px) {
  .slide {
    padding: 2rem;
    font-size: 1.5rem;

  }
  .message{
    display: flex;
    flex-direction: column;
  }
  .message > img{
    height: 200px;
  }
}

#magicMouseCursor,
#magicPointer {
  border: 1px solid #000 !important;
}

#magicPointer {
  background: #000 !important;
}